<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <form action="/user/create" method="post" class="col-6 mx-auto">
        <div class="form-goup">
            <label for="first_name">first name</label>
            <input type="text" name="first_name" class="form-control">
        </div>
        <div class="form-goup">
            <label for="last_name">last name</label>
            <input type="text" name="last_name" class="form-control">
        </div>
        <div class="form-goup">
            <label for="email">first name</label>
            <input type="text" name="email" class="form-control">
        </div>
        <input type="submit" value="add user" class="btn btn-success">
    </form>
</body>
</html>